<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Workbook</title>
</head>
<body>
<h1>Stuff</h1>
<table border="solid" width="100">
    <tr>
        <th>item</th>
        <th>revenue</th>
        <th>cost</th>
        <th>profit</th>
    </tr>
    <tr th:each="record: ${records}">
    <td th:text="${record.item}"></td>
    <td th:text="${record.revenue}"></td>
    <td th:text="${record.cost}"></td>
    <td th:text="${record.profit}"></td>

    </tr>
</table>
</body>
</html>